@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    width: 800px;
    margin: 0 auto;
    background-color: var(--backgroundColor);
    color: var(--primaryTextColor);
    background-image: url(../img/background.png);
    background-position: center;
}

@media (max-width: 800px) {
    body {
        width: 600px;
    }
}

@media (max-width: 600px) {
    body {
        width: 500px;
    }
}

@media (max-width: 500px) {
    body {
        width: 320px;
    }
}

h1 {
    font-family: var(--fancyFont);
}

h2, h3, h4, p {
    font-family: var(--bodyFont);
}

main {
    padding: 2rem 0rem;
}

footer {
    text-align: center;
    padding: 1rem;
    /* background-color: var(--primaryColor); */
    
    p {
        font-family: var(--bodyFont);
    }
}

.hidden {
    display: none;
}

.active {
    color: var(--primaryTextColor);
    text-decoration: underline;
}


/* === NAV === */

nav {
    list-style: none;
    gap: 2rem;
    background: var(--primaryColor);
    width: 100%;
    box-shadow: var(--shadow);
    padding: 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
    
            a {
                color: var(--secondaryTextColor);
                text-decoration: none;
                padding: 0.5rem 0;
                font-weight: bold;
                text-transform: uppercase;
                transition: color 0.3s ease;
                font-family: var(--bodyFont);
            }
        }
    }
}


/* === INTRO COMPONENT === */

.front-page-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-image: url('../img/front-page-hero.webp');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: var(--shadow);
    
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* background-color: #1b2a3349; */
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,rgba(27, 42, 51, 0.8) 100%);
        width: 100%;
        height: 100%;
    }

    .intro-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        height: 100%;
        background: #1B2A33;
        background: radial-gradient(circle, rgba(27, 42, 51, 1) 0%,rgba(0, 0, 0, 0) 100%);

        img {
            width: 180px;
        }

        h1 {
            font-size: 2.2rem;
            font-weight: 900;
            text-align: center;
        }
    
        h2 {
            display: flex;
            gap: 1rem;

            span {
                font-weight: 300;
                font-size: 1.2rem;
            }

            span:first-child {
                border-right: 1.5px solid var(--secondaryTextColor);
                padding-right: 1rem;
            }
        }

    }
}


/* === SOCIALS === */

.socials-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    article {
        display: flex;
        gap: 1rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.6rem 0.9rem;
            background-color: var(--backgroundColor);
            border-radius: 0.3rem;
            border: var(--border);
            transition: 0.3s ease;

            svg {
                width: 25px;
                height: 25px;
            }
        }

        a:hover {
            background-color: var(--primaryColor);
        }
    }
}


/* === TECH STACK SCROLLER === */

.tech-stack-scroller {
    position: relative;
    max-width: 800px;
    margin: 3rem auto 0rem auto;
    overflow: hidden;

    header {
        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    
    article:nth-child(2) {
      margin-bottom: 1rem;
    }
}


.scroller-track-top {
    display: flex;
    gap: 1rem;
}

.scroller-track-top {
    animation: scroll-left 18s linear infinite;
}


.scroller-track-top:hover {
    animation-play-state: paused;
}

.scroller-track-top div {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--primaryColor);
    border-radius: 0.3rem;
    font-weight: bold;

    svg {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
}

/* Infinite scroll keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* Fade edges */
.tech-stack-scroller::before,
.tech-stack-scroller::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    pointer-events: none;
    z-index: 2;
}

.tech-stack-scroller::before {
    left: 0;
    background: linear-gradient(to right, var(--backgroundColor), transparent);
}

.tech-stack-scroller::after {
    right: 0;
    background: linear-gradient(to left, var(--backgroundColor), transparent);
}


/* === EDUCATION SECTION === */

.education-container {
    width: 100%;
    margin-top: 3rem;

    header {
        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    
    .education-card {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--backgroundColorSeeThrough);

        &:not(:last-of-type) {
            border-bottom: var(--border);
        }


        div:first-child {
            display: flex;
            align-items: center;
            width: 60px;

            img {
                width: 100%;
                border-radius: 0.3rem;
            }
        }

        div:nth-child(2) {

            h3 {
                font-size: 1rem;
            }

            p {
                color: var(--secondaryTextColor);
            }
        }

        div:nth-child(3) {
            color: var(--secondaryTextColor);
            margin-left: auto;
        }
    }

    .education-card:first-of-type {
        border-top-left-radius: var(--borderRadius);
        border-top-right-radius: var(--borderRadius);
    }
    
    .education-card:last-of-type {
        border-bottom-left-radius: var(--borderRadius);
        border-bottom-right-radius: var(--borderRadius);
    }
}


/* === PROJECTS === */

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .project-card {
        display: grid;
        grid-template-columns: 1fr 2fr 0.5fr;
        overflow: hidden;
        gap: 1rem;
        border-radius: var(--borderRadius);
        background-color: var(--backgroundColorSeeThrough);

        div:first-child {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .image-overlay {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                transition: 0.3s;
                overflow: hidden;
                
                &:hover {
                    background-color: #1b2a33a5;
                }

                p:first-of-type {
                    position: absolute;
                    top: -2rem;
                    left: 0.5rem;
                    transition: 0.3s;
                    font-size: 0.8rem;
                    padding: 0.2rem 0.4rem;
                    border-radius: var(--borderRadiusInner);
                    background-color: var(--primaryColor);

                    .image-overlay:hover & {
                        top: 0.5rem;
                    }
                }
                
                p:last-of-type {
                    position: absolute;
                    bottom: -2rem;
                    right: 0.5rem;
                    transition: 0.3s;
                    font-size: 0.8rem;
                    padding: 0.2rem 0.4rem;
                    border-radius: var(--borderRadiusInner);
                    background-color: var(--primaryColor);

                    .image-overlay:hover & {
                        bottom: 0.5rem;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--borderRadiusInner);
            }
        }

        div:nth-child(2) {
            padding: 0.5rem 0;
        }

        div:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: center;
            
            a {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                background-color: var(--backgroundColorSeeThrough);
                color: var(--primaryTextColor);
                text-decoration: none;
                font-family: var(--bodyFont);
                width: 100%;
                height: 100%;
                transition: 0.3s;

                &:hover {
                    background-color: var(--primaryColor);
                }

                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

/* === FOOTER === */

footer {
    text-align: center;
    padding: 1rem;
    
    p {
        font-family: var(--bodyFont);
    }
}