@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primaryTextColor: #e2e8f0;
    --secondaryTextColor: #94A3B8;
    --primaryColor: #1b2a33;
    --backgroundColor: #060f13;
    --backgroundColorSeeThrough: #6e757823;

    --fancyFont: 'Doto', sans-serif;
    --bodyFont: 'IBM Plex Mono', monospace;

    --border: 1px solid #6e75783e;
    --borderRadius: 0.3rem;
    --borderRadiusInner: 0.15rem;
    --shadow: 0 2px 5px rgba(0,0,0,0.1);
}